<p>
  <a class='btn btn-danger float-right' href="<%= app_prefix %>/workflows/succeeded/destroy" onclick="return confirm('Are you sure?')">
    <i class='fas fa-trash'></i>&nbsp;Destroy succeeded workflows
  </a>
</p>

<h1>Workflows</h1>

<table id='workflows-table' class='display' style='width:100%'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Started at</th>
      <th>Succeeded at</th>
      <th class='no-sort'>#</th>
    </tr>
  </thead>
</table>

<script>
  $('#workflows-table').DataTable({
    order: [[1, 'desc']],
    processing: true,
    serverSide: true,
    ajax: "<%= app_prefix %>/workflows"
  });
</script>
