<h1>Workflows</h1>

<ul class='list-group'>
  <% @worklow_ids.each do |id| %>
    <li class='list-group-item'>
      <a href="<%= app_prefix %>/workflow/<%= id %>">Workflow <%= id %></a>
    </li>
  <% end %>
</ul>
