<h1>Workflows</h1>

<ul class='list-group'>
  <% @workflows.each do |workflow| %>
    <li class='list-group-item'>
      <a href="<%= app_prefix %>/workflow/<%= workflow.first %>">Workflow <%= workflow.first %></a>
    </li>
  <% end %>
</ul>
